.app-wrapper{
    background: #F5F5F5;
    margin-top: 65px;
}
.accordion{
    background: white;
}
.accordion-button{
    text-decoration: none;
    background: white;
}
.accordion-item{
    background: white;
}
.app-card-accordion{
    background: white;
    
}
.app-icon-holder{
    background: rgb(244, 239, 239);
}