*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 255px;
    height: 100%;
    background: 	#1ed14b;
    padding: 30px 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .sidebar h4{
 
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}
.wrapper .sidebar ul{
    margin-top: 20px;
    /* text-align: center; */
  
}
.wrapper .sidebar ul li {
    padding: 15px;
   
    
}
.wrapper .sidebar ul li a{
    color: #000;
    font-family: Math;
    display: block;
    font-weight: bold;
    margin-left: 20px;
}

.wrapper .sidebar ul li:hover a{
    color: black;
}
.main_content{
    width: 100%;
    margin-left: 255px;
    padding: 20px;
    
   /* background: rgb(244, 240, 240); */
}
.active{
     
     /* background: rgb(5, 150, 5); */
     background: rgb(101, 235, 94);
     border-left: 9px solid black;
     /* border-right: 9px solid black; */

border-radius: 4px;
}