.app{
    background: #F5F5F5;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

.border-left-decoration{
    border-left: 4px solid green;
}

.stats-type{
    opacity: 0.5;
}