<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="position-relative mb-3">
                <div class="row g-3 justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Notifications </h1>
                    </div>

                    <div class="col-auto model">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Create
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputBadge" class="form-label">Badge </label>
                                                <input type="text" name="bagde" class="form-control"
                                                    id="exampleInputBadge" [(ngModel)]="notificationForm.badge">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputTitle" class="form-label">Title </label>
                                                <input type="text" name="title" class="form-control"
                                                    id="exampleInputTitle" [(ngModel)]="notificationForm.title">
                                            </div>
                                            <div>
                                                <div class="mb-3">
                                                    <label for="exampleInputActiveStatus" class="form-label">Active
                                                        status </label>
                                                    <input type="text" name="activeStatus" class="form-control"
                                                        id="exampleInputActiveStatus" [(ngModel)]="notificationForm.activeStatus">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputName" class="form-label">Name </label>
                                                    <input type="text" name="name"  class="form-control" id="exampleInputName"
                                                        [(ngModel)]="notificationForm.name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputContent" class="form-label">Content </label>
                                                    <input type="text" name="content" class="form-control" id="exampleInputContent"
                                                        [(ngModel)]="notificationForm.content">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputImage" class="form-label">Upload image
                                                    </label>
                                                    <input type="text" name="uploadimage" class="form-control" id="exampleInputImage"
                                                        [(ngModel)]="notificationForm.image">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addDetails()">Add
                                            details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="page-utilities">
                            <select class="form-select form-select-sm w-auto">
                                <option selected value="option-1">All</option>
                                <option value="option-2">News</option>
                                <option value="option-3">Product</option>
                                <option value="option-4">Project</option>
                                <option value="option-4">Billing</option>
                            </select>
                        </div><!--//page-utilities-->
                    </div>
                </div>
            </div>


            <div class="app-card app-card-notification rounded shadow-sm mb-4" *ngFor="let data of notificationsData">
                <div class="app-card-header px-4 py-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-12 col-lg-auto text-center text-lg-start">
                            <img class="profile-image" src={{data.image}} alt="">
                        </div><!--//col-->
                        <div class="col-12 col-lg-auto text-center text-lg-start">
                            <div class="notification-type mb-2"><span class="badge" [ngClass]="data.badge">{{data.badge}}</span></div>
                            <h4 class="notification-title mb-1">{{data.title}}</h4>

                            <ul class="notification-meta list-inline mb-0">
                                <li class="list-inline-item">{{data.activeStatus}}</li>
                                <li class="list-inline-item">|</li>
                                <li class="list-inline-item">{{data.name}}</li>
                            </ul>

                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//app-card-header-->
                <div class="app-card-body p-4">
                    <div class="notification-content">{{data.content}}</div>
                </div><!--//app-card-body-->
                <div class="app-card-footer px-4 py-3">
                    <a class="action-link" href="#">View all<svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-arrow-right ms-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></a>
                </div><!--//app-card-footer-->
            </div><!--//app-card-->










            <div class="text-center mt-4"><a class="btn app-btn-secondary loadmore" href="#">Load more notifications</a>
            </div>

        </div><!--//container-fluid-->
    </div><!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
                    target="_blank">Arun kumar</a> for developers</small>



        </div>
    </footer><!--//app-footer-->

</div><!--//app-wrapper-->

<!-- <img src="assets/background/background-1.jpg " alt="sgg" style="width: 300px; height: 300px;"> -->